In [5]:
a = [5,2,3,1,7]
b = [1,5,4,6,8]

In [108]:
[i for i in np.arange(1,6,1)]

[1, 2, 3, 4, 5]

In [100]:
[i*i for i in range(1,6)]

[1, 4, 9, 16, 25]

In [110]:
np.corrcoef([i for i in np.arange(1,100,0.1)] , [i*i for i in np.arange(1,100,0.1)])

array([[1.        , 0.96937674],
       [0.96937674, 1.        ]])

In [18]:
import pandas as pd

In [44]:
sa = pd.Series(a)
sb = pd.Series(b)

In [48]:
sa/sb

0    5.000000
1    0.400000
2    0.750000
3    0.166667
4    0.875000
dtype: float64

In [41]:
[i for i in b if i in a]

[1, 5]

In [4]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [13]:
list(filter(lambda z:z>50, list(map(lambda x,y:x**y , a,b))))

[81, 5764801]

In [26]:
import functools
reduce(lambda x,y:x+y, b)

24

In [19]:
import numpy as np
a = np.array(a)
b = np.array(b)

In [34]:
a*b

array([ 5, 10, 12,  6, 56])

In [7]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6], [7,8,9]]).T, columns = [0,1,2])

In [8]:
df

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [17]:
df[0:]

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [20]:
import matplotlib.pyplot as plt

In [21]:
import seaborn as sns

NameError: name 'locate' is not defined

In [24]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_12',
 '_14',
 '_15',
 '_16',
 '_17',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'df',
 'exit',
 'get_ipython',
 'np',
 'pd',
 'plt',
 'quit',
 'sns']